.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# Ignore Any Config Files Inside the Config Folder
/Config/*.json

Ignore the Logging Folder
/Logging